<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Thống kê"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Thống kê</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý thống kê</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>
<div>
  <button class="button-create" (click)="startScanning()">Quét mã SP</button>
  <button class="button-create" (click)="stopScanning()">Kết thúc</button>
</div>
<div>
  <video id="video" width="300" height="200"></video>
  <div *ngIf="scannedCode">
    <p>Scanned Code: {{ scannedCode }}</p>
  </div>
</div>


