<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách voucher"
  nzSubtitle="Total {{voucher.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Khuyến mãi</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý voucher</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <div>
    <div style="float: right">
      <button
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-orange-500 group-hover:from-cyan-500
      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        (click)="showModalTaoMoi()"
      >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Tạo mới mã giảm giá
      </span>
      </button>
    </div>
    <div style="float: left">
      <fieldset class="w-full space-y-1 dark:text-gray-100">
        <label class="hidden">Search</label>
        <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="button" title="search" class="p-1 focus:outline-none focus:ring" (click)="getVouchersSearch()">
            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
              <path
                d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
            </svg>
          </button>
        </span>
          <input type="search" name="Search" placeholder="Tìm kiếm phiếu giảm giá" id="searchInput"
                 class="w-32 py-2 pl-10 text-sm rounded-md sm:w-96 focus:outline-0 dark:bg-gray-800 dark:text-white
                 focus:dark:bg-gray-900 focus:dark:border-violet-400 bg-gray-300"
                 [ngModel]="searchInput"
                 (ngModelChange)="getVouchersSearch()"
          >
        </div>
      </fieldset>
    </div>
  </div>
  <nz-table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" #tableData [nzData]="voucher">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        STT
      </th>
      <th scope="col" class="px-6 py-3">
        Mã
      </th>
      <th scope="col" class="px-6 py-3">
        Mô tả
      </th>
      <th scope="col" class="px-6 py-3">
        Giảm giá
      </th>
      <th scope="col" class="px-6 py-3">
        Ngày bắt đầu
      </th>
      <th scope="col" class="px-6 py-3">
        Ngày kết thúc
      </th>
      <th scope="col" class="px-6 py-3">
        Số lượng
      </th>
      <th scope="col" class="px-6 py-3">
        Trạng thái
      </th>
      <th scope="col" class="px-12 py-3">
        Tác vụ
      </th>
      <!--      <th scope="col" class="px-6 py-3">-->
      <!--      </th>-->
    </tr>
    </thead>
    <tbody>
    <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let data of tableData.data; let i = index">
      <td class="px-6 py-4">
        {{ data.id }}
      </td>
      <td class="px-6 py-4">
        {{ data.ma }}
      </td>
      <td class="px-6 py-4">
        {{ data.moTa }}
      </td>
      <td class="px-6 py-4">
        {{ data.giamGia }}
      </td>
      <td class="px-6 py-4">
        {{ data.ngayBatDau }}
      </td>
      <td class="px-6 py-4">
        {{ data.ngayKetThuc }}
      </td>
      <td class="px-6 py-4">
        {{ data.soLuong }}
      </td>
      <td class="px-6 py-4">
        <div *ngIf="data.trangThai == 0" style="background-color: orangered;padding: 5px;border-radius: 5px;margin: 5px;text-align: center;font-weight: bolder;color: white">
          <p>Đã kết thúc</p>
        </div>
        <div *ngIf="data.trangThai == 1" style="background-color: darkgreen;padding: 5px;border-radius: 5px;margin: 5px;text-align: center;font-weight: bolder;color: white">
          <p>Đang diễn ra</p>
        </div>
      </td>
      <td class="px-12 py-4" style="display: flex">
        <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="showModal(data.id)">
          <span nz-icon nzType="edit" nzTheme="outline" style="font-size: 24px"></span>
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 1">
          <div class="btn-status-stop" (click)="updateVoucherStatus(data.id, 0)">
            <span nz-icon nzType="close-circle" nzTheme="outline" style="font-size: 24px"></span>
          </div>
        </div>

        <div class="flex items-center" *ngIf="data.trangThai == 0">
          <div class="btn-status-active" (click)="updateVoucherStatus(data.id, 1)">
            <span nz-icon nzType="check-circle" nzTheme="outline" style="font-size: 24px"></span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisibleTaoMoi"
  (nzOnCancel)="handleCancelTaoMoi()"
  nzWidth="full"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <div style="padding: 5px;font-weight: bolder;font-size: 22px">
      <h3>TẠO MỚI VOUCHER</h3>
      <hr style="width: 95%;height: 2px;background-color: #007DB6;margin: 5px">
    </div>
    <div class="flex" style="margin: 10px">
      <div style="width: 300px">
        <div>
          <p style="width:200px;margin: 5px" for="moTaMoi">Mã giảm giá:</p>
          <input style="margin: 5px" type="text" id="maGiamGia" class="moTa" placeholder="Nhập mã giảm giá">
        </div>
        <div>
          <p style="width:200px;margin: 5px" for="moTaMoi">Mô tả:</p>
          <input style="margin: 5px" type="text" id="moTaMoi" class="moTa" placeholder="Nhập mô tả">
        </div>
        <div>
          <p style="width:200px;margin: 5px" for="giamGiaMoi">Mức giảm giá:</p>
          <input style="margin: 5px" type="number" id="giamGiaMoi" class="moTa" placeholder="Nhập mức giảm giá">
        </div>
        <div>
          <p style="width:200px;margin: 5px" for="moTaMoi">Điều kiện giảm giá:</p>
          <input style="margin: 5px" type="number" id="dieuKienMoi" class="moTa" placeholder="Nhập điều kiện giảm giá">
        </div>
      </div>
      <div style="width: 300px;margin-left: 20px">
        <div>
          <p style="width:200px;margin: 5px" for="soLuongMoi">Số lượng:</p>
          <input style="margin: 5px" type="number" id="soLuongMoi" class="moTa" placeholder="Nhập số lượng">
        </div>
        <div>
          <p style="width:200px;margin: 5px" for="ngayBatDauMoi">Ngày bắt đầu:</p>
          <nz-date-picker style="margin: 5px" id="ngayBatDauMoi" class="moTa" [(ngModel)]="ngayBatDau"
                          nzPlaceHolder="Chọn ngày bắt đầu"></nz-date-picker>
        </div>
        <div>
          <p style="width:200px;margin: 5px" for="ngayKetThucMoi">Ngày kết thúc:</p>
          <nz-date-picker style="margin: 5px" id="ngayKetThucMoi" class="moTa" [(ngModel)]="ngayKetThuc"
                          nzPlaceHolder="Chọn ngày ngày kết thúc"></nz-date-picker>
        </div>
        <div>
          <p style="width:200px;margin: 5px" for="loaiGiamGia">Loại giảm giá:</p>
          <select style="margin: 5px" id="loaiGiamGia" class="moTa">
            <option value="0" class="moTa">Theo giá tiền</option>
            <option value="1" class="moTa">Theo %</option>
          </select>
        </div>
      </div>
      <div style="width: 1100px;margin-left: 20px">
        <div style="border: 1px solid gray;border-radius: 5px">
          <div class="flex">
          <h3 style="padding-left: 10px;padding-top: 20px;font-weight: bolder;font-size: 20px;">Chọn khách hàng nhận ưu đãi</h3>
          <input class="timKiem" style="margin-left: 150px;margin-top: 10px" type="text" id="searchKH"  placeholder="Nhập thông tin tìm kiếm">
            <button style="margin-left: 20px;margin-top: 10px" (click)="getListKHByString()"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-orange-500 group-hover:from-cyan-500
      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
            >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Tìm kiếm
      </span>
            </button>
          </div>
          <hr style="width: 1070px;height: 2px;background-color: #007DB6;margin: 10px">
        </div>
        <div>
          <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            [nzData]="customerList"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            [nzPageSize]="5"
          >
            <thead>
            <tr>
              <th
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Họ tên</th>
              <th>Số điện thoại</th>
              <th>Email</th>
              <th>Ngày sinh</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data; let i = index">
              <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td>{{ data.hoTen }}</td>
            <td>{{ data.sdt }}</td>
            <td>{{ data.diaChi }}</td>
            <td>{{ data.ngaySinh }}</td>
          </tr>
            </tbody>
          </nz-table>
        </div>
        <div>
          <hr style="width: 1070px;height: 2px;background-color: #007DB6;margin: 10px">
        </div>
        <div class="flex">
          <div style="width: 90%">
          </div>
          <div>
            <button style="margin-top: 10px" (click)="createNewVoucher()"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-green-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
            >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Hoàn tất
      </span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cập nhật Voucher"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="form.invalid"
>
  <ng-container *nzModalContent>
    <div *ngIf="currentVoucher" [formGroup]="form" class="edit-form">
      <nz-form-item>
        <nz-form-label nzFor="ma">Mã Voucher</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" value="{{currentVoucher.ma}}" readonly/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="moTa">Mô Tả</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" formControlName="moTa" id="moTa" name="moTa" [(ngModel)]="currentVoucher.moTa"
                 required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="giaPhong">Giá giảm</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá">
          <input nz-input type="number" formControlName="giamGia" min="0" id="giamGia" name="giamGia"
                 [(ngModel)]="currentVoucher.giamGia" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="ngayBatDau">Ngày bắt đầu</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ngày bắt đầu">
          <input nz-input type="date" id="ngayBatDau" formControlName="ngayBatDau" name="ngayBatDau"
                 [(ngModel)]="currentVoucher.ngayBatDau" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="ngayKetThuc">Ngày kết thúc</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ngày kết thúc">
          <input nz-input type="date" id="ngayKetThuc" formControlName="ngayKetThuc" name="ngayKetThuc"
                 [(ngModel)]="currentVoucher.ngayKetThuc" required/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="soLuong">Số lượng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số lượng">
          <input nz-input type="number" id="soLuong" formControlName="soLuong" name="soLuong"
                 [(ngModel)]="currentVoucher.soLuong" required/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-container>
</nz-modal>

