<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách biến thể"
  nzSubtitle="Total {{ctspList.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Quản lý sản phẩm</nz-breadcrumb-item>
    <nz-breadcrumb-item>Danh sách biến thể</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <div style="width: 100%;margin-bottom: 10px" class="flex">
    <fieldset style="float: left" class="w-full space-y-1 dark:text-gray-100">
      <label class="hidden">Search</label>
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="button" title="search" class="p-1 focus:outline-none focus:ring">
            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
              <path
                d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
            </svg>
          </button>
        </span>
        <input type="search" name="Search" placeholder="Search..." id="searchInput"
               class="w-32 py-2 pl-10 text-sm rounded-md sm:w-96 focus:outline-0 dark:bg-gray-800 dark:text-white
                 focus:dark:bg-gray-900 focus:dark:border-violet-400 bg-gray-300"
               [ngModel]="searchInput"
               (ngModelChange)="getListByString()"
        >
      </div>
    </fieldset>
    <div style="margin-left: 80%">
      <button (click)="showModalCreaate()"
              class="button-create">
        Thêm mới
      </button>
    </div>
  </div>
  <div>
    <nz-table #sortTable [nzData]="ctspList" nzTableLayout="fixed">
      <thead>
      <tr>
        <th style="width: 100px" nzLeft>STT</th>
        <th class="items-center">Ảnh</th>
        <th class="items-center">Mã biến thể</th>
        <th class="items-center">Tên SP</th>
        <th class="items-center">Size</th>
        <th class="items-center">Đơn giá</th>
        <th class="items-center">Số lượng</th>
        <th style="width: 300px" class="items-center">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data; let i = index">
        <th style="width: 100px" nzLeft>{{ i + 1 }}</th>
        <td class="items-center"><img style="width: 100px;height: 120px" src="{{ data.image }}" alt="{{data.ma}}"></td>
        <td class="items-center">{{ data.ma }}</td>
        <td class="items-center">{{ data.tenSanPham }} {{ data.tenMauSac }}</td>
        <td class="items-center">{{ data.tenKichThuoc }}</td>
        <td class="items-center">{{ data.donGia | currency:'VND': '':'1.0-0'}}</td>
        <td class="items-center">{{ data.soLuong }}</td>
        <td nzLeft>
          <div class="btn-info flex">
            <!--          <span class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="showModal(data.id)" nz-icon nzType="edit" nzTheme="outline" style="font-size: 24px"></span>-->
            <div>
              <button (click)="showModalUpdate(data.id)"
                      class="button-update">
                Sửa
              </button>
            </div>
            <div style="margin-left: 5px">
              <button *ngIf="data.trangThai == 0" (click)="updateTrangThai(data.id, data.trangThai)"
                      class="button-danger">
                Ẩn
              </button>
              <button *ngIf="data.trangThai == 1" (click)="updateTrangThai(data.id, data.trangThai)"
                      class="button-green">
                Hiển thị
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal
  [(nzVisible)]="isVisibleCreate"
  nzTitle="Thêm mới"
  (nzOnCancel)="cancelCreate()"
  (nzOnOk)="createCTSP()"
>
  <ng-container *nzModalContent>
    <div class="create-form">
      <nz-form-item>
        <nz-form-label nzFor="mau" style="width: 150px">Chọn sản phẩm</nz-form-label>
        <select id="sanPham" style="width: 300px">
          <option *ngFor="let data of sanPhamList" value="{{data.id}}">{{data.ma}} - {{data.ten}}</option>
        </select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="mau" style="width: 150px">Chọn màu</nz-form-label>
        <select id="mauSac" style="width: 300px">
          <option *ngFor="let data of mauSacList" value="{{data.id}}">{{data.ten}}</option>
        </select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="size" style="width: 150px">Chọn size</nz-form-label>
        <select id="size" style="width: 300px">
          <option *ngFor="let data of kichThuocList" value="{{data.id}}">{{data.ten}}</option>
        </select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="soLuong" style="width: 150px">Nhập số lượng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số lượng">
          <input nz-input type="number" id="soLuong" name="soLuong"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="donGia" style="width: 150px">Nhập đơn giá</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập đơn giá">
          <input nz-input type="number" id="donGia" name="donGia"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div class="flex">
        <nz-form-label style="width: 150px" nzFor="image">Chọn ảnh</nz-form-label>
        <nz-form-control>
            <input #imageInput type="file" id="image" accept="image/*" (change)="showImage()" hidden/>
            <button (click)="imageInput.click()"  class="button-green">Chọn ảnh</button>
        </nz-form-control>
        <img *ngIf="image != ''" style="width: 200px;height: 140px;margin-left: 5px" src="{{image}}" alt="Ảnh sản phẩm">
        </div>
      </nz-form-item>
      <div class="flex" style="height: 100px;margin-left: 50%">
        <div style="margin-left: 5px">
          <button class="button-create" (click)="generateQRCode()">Tạo mã QR</button>
        </div>
        <div style="margin-left: 5px;margin-bottom: 5px" >
          <img *ngIf="qrCodeUrl" [src]="qrCodeUrl" alt="{{maCTSPMoi}}"/>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleUpdate"
  nzTitle="Cập nhật sản phẩm"
  (nzOnCancel)="cancelUpdate()"
  (nzOnOk)="updateCTSP()"
>
  <ng-container *nzModalContent>
    <div class="edit-form">
      <nz-form-item>
        <nz-form-label nzFor="ma" style="width: 100px">Mã:</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" id="ma" name="ma" [ngModel]="ctsp.ma" disabled/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="sanPham" style="width: 150px">Sản phẩm</nz-form-label>
        <nz-select id="sanPhamUpdate" nzAllowClear  style="width: 300px" [(ngModel)]="ctsp.idSanPham" nzPlaceHolder="{{ctsp.tenSanPham}}">
          <nz-option *ngFor="let data of sanPhamList" [nzLabel]="data.ten ? data.ten : 'Chọn sản phẩm'" nzValue="{{ data.id }}"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="mauSac" style="width: 150px">Màu</nz-form-label>
        <nz-select id="mauSacUpdate" nzAllowClear  style="width: 300px" [(ngModel)]="ctsp.idMauSac" nzPlaceHolder="{{ctsp.tenMauSac}}">
          <nz-option *ngFor="let data of mauSacList" [nzLabel]="data.ten ? data.ten : 'Chọn màu'" nzValue="{{ data.id }}"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="size" style="width: 150px">Size</nz-form-label>
        <nz-select id="sizeUpdate" nzAllowClear  style="width: 300px" [(ngModel)]="ctsp.idKichThuoc" nzPlaceHolder="{{ctsp.tenKichThuoc}}">
          <nz-option *ngFor="let data of kichThuocList" [nzLabel]="data.ten ? data.ten : 'Chọn size'" nzValue="{{ data.id }}"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="soLuong" style="width: 150px">Số lượng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số lượng">
          <input nz-input type="number" id="soLuongUpdate" name="soLuongUpdate" [ngModel]="ctsp.soLuong"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="donGiaUpdate" style="width: 150px">Đơn giá</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập đơn giá">
          <input nz-input type="number" id="donGiaUpdate" name="donGiaUpdate" [ngModel]="ctsp.donGia"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div class="flex">
          <nz-form-label style="width: 150px" nzFor="image">Thay ảnh</nz-form-label>
          <nz-form-control>
            <input #imageInputUpdate type="file" id="imageUpdate" accept="image/*" (change)="showImageUpdate()" hidden/>
<!--            <button (click)="imageInputUpdate.click()"  class="button-green">Chọn ảnh</button>-->
            <img *ngIf="imageUpdate != ''" (click)="imageInputUpdate.click()" style="width: 200px;height: 140px;margin-left: 5px" src="{{imageUpdate}}" alt="Ảnh sản phẩm">
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
  </ng-container>
</nz-modal>
