<div class="container-fluid">
  <header>
    <nav class="nav-web">
      <div>
        <div class="flex" style="width: 100%">
          <div class="flex" style="float: left;width: 60%">
            <div style="float: left;width: 250px">
              <a href="">
                <img src="assets/logosneaker.png" style="width: 180px;height: 120px;margin: 20px;margin-left: 40px"
                     alt="logo">
              </a>
            </div>
            <div style="margin-top: 60px">
              <a [routerLink]="['']" class="a-link"
                 aria-current="page">Trang chủ</a>
              <a [routerLink]="['product']" class="a-link"
                 aria-current="page">Sản phẩm</a>
              <a [routerLink]="['']" class="a-link"
                 aria-current="page">Giới thiệu</a>
              <a [routerLink]="['']" class="a-link"
                 aria-current="page">Tin tức</a>
              <a [routerLink]="['']" class="a-link"
                 aria-current="page">Liên hệ</a>
            </div>
          </div>

          <div style="float: right;margin-bottom: 10px"
               class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <div style="width: 300px">
            </div>
            <!--         giỏ hàng-->
            <div style="margin-left: 10px">
              <span nz-icon nzType="shopping-cart" nzTheme="outline" style="width: 30px;height: 30px"></span>
            </div>
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <div class="float-right" style="color: white; margin-left: 10px"
                     *ngIf="(user$ | async) as userInfo; else loginButton">
                  <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                    <ng-container *ngIf="userInfo.imageUrl">
                      <!-- Hiển thị hình ảnh nếu userInfo.urlImage không null -->
                      <nz-avatar [nzSrc]="userInfo.imageUrl"></nz-avatar>
                    </ng-container>
                    <ng-container *ngIf="!userInfo.imageUrl">
                      <button type="button" class="group flex shrink-0 items-center rounded-lg transition">
                        <span class="sr-only">Menu</span>
                        <img
                          alt="Man"
                          src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                          class="h-10 w-10 rounded-full object-cover"
                        />

                        <p class="ms-2 hidden text-left text-xs sm:block">
                          <strong class="block font-medium">{{ userInfo.name }}</strong>

                          <span class="text-gray-500"> {{ userInfo.email }} </span>
                        </p>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="ms-4 hidden h-5 w-5 text-gray-500 transition group-hover:text-gray-700 sm:block"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </button>
                    </ng-container>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable style="width: 200px; border-radius: 10px">
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700
                          hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover:bg-night-500 dark:hover-text-primary-500"
                          routerLink="/profile/me"
                      >
                        Profile
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500">
                        Setting
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500">
                        Can I Help?
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500"
                          nzDanger (click)="onLogout1()">
                        Logout
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>

                <ng-template #loginButton>
                  <!-- Hiển thị nút "Đăng nhập" khi userInfo.name không có giá trị -->
                  <button class="border-y-gray-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-full"
                          routerLink="/hotel/login">Đăng nhập
                  </button>
                </ng-template>

              </div>
            </div>

          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id=main>
    <router-outlet></router-outlet>
  </div>


  <footer class="px-4 divide-y dark:bg-gray-800 dark:text-white-100"
          style="background-color: #3F3D3D; color: whitesmoke">
    <div class="py-6 text-sm text-center dark:text-gray-400">© Nguyễn Hoàng Long Sneaker 2024.</div>
  </footer>
</div>
