<div style="background-image: url('/assets/banner-sneaker2.png');background-size: 100%">
  <section
    class="min-h-[600px] py-16 flex flex-col items-center justify-center bg-banner-image bg-center bg-cover bg-fixed bg-no-repeat px-3">
  </section>
</div>
<div style="margin-top: 30px">
  <div style="justify-content: center;width: 100%;text-align: center;">
    <hr style="width: 50%;height: 2px;background-color: #00B247;margin: 10px;margin-left: 25%;">
    <h3 style="font-weight: bolder;font-size: 25px;color: #00B247">SẢN PHẨM MỚI</h3>
    <hr style="width: 50%;height: 2px;background-color: #00B247;margin: 10px;margin-left: 25%;">
  </div>
  <div style="margin: 5px;width: 100%">
    <div style="width: 80%;margin-left: 10%" class="product-carousel flex">
      <div style="width: 25%;margin: 10px" *ngFor="let data of listSanPhamMoi" class="single-product">
        <div class="product-f-image">
          <img src="{{data.imageDefault}}" style="height: 400px" alt="">
          <div class="product-hover">
            <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
            <a href="product-details/{{data.id}}" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
          </div>
        </div>

        <h2 style="font-size: 22px;font-weight: bolder"><a href="">{{data.ten}}</a></h2>

        <div class="flex" style="font-weight: bolder;font-size: 20px;color: darkgreen">
          <ins>{{data.giaThapNhat | currency:'VND': '':'1.0-0'}}<ins *ngIf="data.giaCaoNhat != data.giaThapNhat"> - {{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</ins></ins>
<!--          <ins *ngIf="data.giaCaoNhat != data.giaThapNhat"> - {{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</ins>-->
<!--          <del>{{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</del>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 30px">
  <div style="justify-content: center;width: 100%;text-align: center;">
    <hr style="width: 50%;height: 2px;background-color: #00B247;margin: 10px;margin-left: 25%;">
    <h3 style="font-weight: bolder;font-size: 25px;color: #00B247">SẢN PHẨM BÁN CHẠY</h3>
    <hr style="width: 50%;height: 2px;background-color: #00B247;margin: 10px;margin-left: 25%;">
  </div>
  <div style="margin: 5px;width: 100%">
    <div style="width: 80%;margin-left: 10%" class="product-carousel flex">
      <div style="width: 25%;margin: 10px" *ngFor="let data of listSanPhamMoi" class="single-product">
        <div class="product-f-image">
          <img src="{{data.imageDefault}}" style="height: 400px" alt="">
          <div class="product-hover">
            <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
            <a href="" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
          </div>
        </div>

        <h2 style="font-size: 22px;font-weight: bolder"><a href="">{{data.ten}}</a></h2>

        <div class="flex" style="font-weight: bolder;font-size: 20px;color: darkgreen">
          <ins>{{data.giaThapNhat | currency:'VND': '':'1.0-0'}}<ins *ngIf="data.giaCaoNhat != data.giaThapNhat"> - {{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</ins></ins>
          <!--          <ins *ngIf="data.giaCaoNhat != data.giaThapNhat"> - {{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</ins>-->
          <!--          <del>{{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</del>-->
        </div>
      </div>
    </div>
  </div>
</div>
