.btn-info{
  margin-left: 8px;
  width: 28px;
  border-radius: 20px;
  color: #f8ad23;
  cursor: pointer;
}

.button-blue{
  border-radius: 8px;
  border: 1px solid deepskyblue;
  font-weight: bolder;
  color: dodgerblue;
  width: auto;
  padding: 5px;
  height: 35px
}

.button-blue:hover {
  background-color: deepskyblue;
  color: white;
}

.button-green{
  border-radius: 8px;
  border: 1px solid green;
  font-weight: bolder;
  color: darkgreen;
  width: auto;
  padding: 5px;
  height: 35px
}

.button-green:hover {
  background-color: darkgreen;
  color: white;
}

.button-red{
  border-radius: 8px;
  border: 1px solid red;
  font-weight: bolder;
  color: red;
  width: auto;
  padding: 5px;
  height: 35px
}

.button-red:hover {
  background-color: red;
  color: white;
}

.button-create{
  border-radius: 8px;
  border: 2px solid green;
  font-weight: bolder;
  color: darkgreen;
  padding: 5px;
  width: 150px;
  height: 35px
}

.button-create:hover {
  background-color: darkgreen;
  color: white;
}



