.btn-info{
  margin-left: 8px;
  width: 28px;
  border-radius: 20px;
  color: #f8ad23;
  cursor: pointer;
}

.button-blue{
  border-radius: 8px;
  border: 1px solid deepskyblue;
  font-weight: bolder;
  color: dodgerblue;
  width: auto;
  padding: 5px;
  height: 35px
}

.button-blue:hover {
  background-color: deepskyblue;
  color: white;
}

.button-green{
  border-radius: 8px;
  border: 1px solid green;
  font-weight: bolder;
  color: darkgreen;
  width: auto;
  padding: 5px;
  height: 35px
}

.button-green:hover {
  background-color: darkgreen;
  color: white;
}

.button-red{
  border-radius: 8px;
  border: 1px solid red;
  font-weight: bolder;
  color: red;
  width: auto;
  padding: 5px;
  height: 35px
}

.button-red:hover {
  background-color: red;
  color: white;
}

.button-create{
  border-radius: 8px;
  border: 2px solid green;
  font-weight: bolder;
  color: darkgreen;
  padding: 5px;
  width: 150px;
  height: 35px
}

.button-create:hover {
  background-color: darkgreen;
  color: white;
}

.inputNhap {
  width: 300px; /* Điều chỉnh độ rộng theo ý muốn */
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.inputNhap:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}



