<div>
  <div style="height: 50px">

  </div>
  <div style="margin-top: 30px;width: 100%;">
    <div style="margin: 5px;width: 100%" class="flex">
      <div style="width: 20%;margin: 10px;border: 2px solid darkgray;border-radius: 5px">
        <div style="margin: 10px">
        <nz-input-group style="border: 1px solid deepskyblue" [nzSuffix]="suffixIconSearch">
          <input style="border: none;font-size: 18px" type="text" nz-input placeholder="Tìm kiếm sản phẩm" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span style="font-size: 20px" nz-icon nzType="search"></span>
        </ng-template>
        </div>
        <div style="margin: 10px;text-align: center;">
          <hr style="width: 100%;height: 1px;background-color: dodgerblue;margin: 5px;">
          <h3 style="font-weight: bolder;font-size: 22px;color: deepskyblue;padding-top: 5px">HÃNG GIÀY</h3>
          <hr style="width: 100%;height: 1px;background-color: dodgerblue;margin: 5px;">
        </div>
        <div>
          <div (click)="getListSanPhamBySearch(data.id, idChatLieu, searchInput)" class="hang-giay" *ngFor="let data of listHang" style="text-align: center;width: 100%;border: 1px solid lightskyblue">
            <h3 style="font-size: 20px;padding-top: 10px;color: mediumblue">{{data.ten}}</h3>
          </div>
        </div>
        <div style="margin: 10px;text-align: center;">
          <hr style="width: 100%;height: 1px;background-color: green;margin: 5px;">
          <h3 style="font-weight: bolder;font-size: 22px;color: darkgreen;padding-top: 5px">CHẤT LIỆU</h3>
          <hr style="width: 100%;height: 1px;background-color: green;margin: 5px;">
        </div>
        <div>
          <div (click)="getListSanPhamBySearch(idHang, data.id, searchInput)" class="chat-lieu" *ngFor="let data of listChatLieu" style="text-align: center;width: 100%;border: 1px solid lightgreen">
            <h3 style="font-size: 20px;padding-top: 10px;color: green">{{data.ten}}</h3>
          </div>
        </div>
      </div>
      <div style="width: 75%;margin-left: 20px">
        <div style="justify-content: center;width: 100%;text-align: center;">
          <hr style="width: 100%;height: 2px;background-color: red;margin: 10px;">
          <h3 style="font-weight: bolder;font-size: 25px;color: red">DANH SÁCH SẢN PHẨM</h3>
          <hr style="width: 100%;height: 2px;background-color: red;margin: 10px;">
        </div>
        <div style="width: 100%;margin: 10px">
          <div style="width: 23%;margin: 15px;float: left;margin-left: 10px" *ngFor="let data of listSanPham" class="single-product">
            <div class="product-f-image">
              <img src="{{data.imageDefault}}" style="height: 400px" alt="">
              <div class="product-hover">
                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                <a href="product-details/{{data.id}}" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
              </div>
            </div>

            <h2 style="font-size: 22px;font-weight: bolder"><a href="">{{data.ten}}</a></h2>

            <div class="flex" style="font-weight: bolder;font-size: 20px;color: darkgreen">
              <ins>{{data.giaThapNhat | currency:'VND': '':'1.0-0'}}
                <ins *ngIf="data.giaCaoNhat != data.giaThapNhat"> - {{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</ins>
              </ins>
              <!--          <ins *ngIf="data.giaCaoNhat != data.giaThapNhat"> - {{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</ins>-->
              <!--          <del>{{data.giaCaoNhat | currency:'VND': '':'1.0-0'}}</del>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 20px;text-align: center;justify-content: center;width: 100%;font-size: 20px">
    <nz-pagination [nzPageIndex]="2" [nzTotal]="50" nzSimple></nz-pagination>
  </div>
</div>
