<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <!--      <a href="" target="_blank">-->
      <a style="justify-content: center" href="/admin/dashboard">
        <img style="height: 120px;width: 100%"
             src="https://lh3.googleusercontent.com/MoEJA49x9GnX98aHM0vBqkDDFLx2gDkQb6jaUcpF94Lxy7WyaBQAhbLpmBULhhnmS-myGljvhY82PeOS-FBqOlOOOz2CHy755w00yrfB1Wz_SH6nT4DQ6lXSNhtR_ckufnd_-7Xz"
             alt="logo">
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed"
        *ngIf="(user$ | async) as user">
      <li class="li-style"
        nz-menu-item
        nzSelected
        routerLink="/admin/ban-hang-tai-quay"
        *ngIf="user.role === 'admin'"
      >
        <span nz-icon nzType="dashboard"></span>
        <span>Bán hàng</span>
      </li>
      <li class="li-style" nz-submenu nzTitle="Thống kê" nzIcon="dashboard" *ngIf="user.role === 'admin'">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard">Thống kê</a>
          </li>
        </ul>
      </li>
      <li class="li-style" nz-submenu nzTitle="Quản lý tài khoản" nzIcon="user-switch" *ngIf="user.role === 'admin'">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/accounts">Tài khoản</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/logs">Phân quyền</a>
          </li>
        </ul>
      </li>
      <li class="li-style" nz-submenu nzTitle="Quản lý hóa đơn" nzIcon="group">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/bill">Hóa đơn</a>
            <nz-badge style="float: right;margin: 3px" [nzCount]="countBill">
            </nz-badge>
          </li>
        </ul>
      </li>
      <li class="li-style" nz-submenu nzTitle="Quản lý sản phẩm" nzIcon="database" *ngIf="user.role === 'admin'">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/san-pham">Sản phẩm</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/chi-tiet-san-pham">Biến thể</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/hang">Hãng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/chat-lieu">Chất liệu</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/mau-sac">Màu sắc</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/size">Size</a>
          </li>
        </ul>
      </li>
      <li class="li-style" nz-submenu nzTitle="Quản lý khách hàng" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/customer">Khách hàng</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row class="app-header">
        <div nz-col nzSpan="16">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                    nz-icon
                    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
          </span>
        </div>
        <div nz-col nzSpan="8" class="pr-5">
          <div class="float-right">
            <a nz-dropdown [nzDropdownMenu]="menu" *ngIf="(user$ | async) as userInfo">
              <ng-container *ngIf="userInfo.imageUrl">
                <!-- Hiển thị hình ảnh nếu userInfo.urlImage không null -->
                <nz-avatar [nzSrc]="userInfo.imageUrl"></nz-avatar>
              </ng-container>
              <ng-container *ngIf="!userInfo.imageUrl">
                <!-- Sử dụng consFirstChar nếu userInfo.urlImage là null -->
                <nz-avatar nzText="{{userInfo.name | consFirstChar}}"></nz-avatar>
              </ng-container>
              {{userInfo?.name || ''}}
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>Info</li>
                <li nz-menu-item>Setting</li>
                <li nz-menu-item>Can I Help?</li>
                <li nz-menu-item>Theme -
                  <nz-switch [(ngModel)]="theme">
                    <span checked>Dark</span>
                    <span unchecked>Light</span>
                  </nz-switch>
                </li>
                <li nz-menu-item nzDanger (click)="onLogout()">
                  Logout
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>

        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Bds ©2023 Implement By K Team</nz-footer>
  </nz-layout>
</nz-layout>
