.btn-status-stop{
  margin-left: 10px;
  width: 28px;
  border-radius: 20px;
  color: red;
  cursor: pointer;
}

.btn-status-active{
  margin-left: 10px;
  width: 28px;
  border-radius: 20px;
  color: green;
  cursor: pointer;
}
